<div class="container">
  <div class="row">
    <div class="col-md-6" style="display: inline-block;">
      <div class="panel panel-default">
        <div class="panel-heading text-center" ><%= "Post" %></div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><%= "ID" %></th>
                  <th><%= "Title" %></th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "post", collection: @posts %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center" ><%= "Hot" %></div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><%= "ID" %></th>
                  <th><%= "Title" %></th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "post", collection: @hot_posts %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
