<div class="container">
  <h2 class="text-center"><%= t :views_devise_registration_new_signup %></h2>
  <%= form_for resource, as: resource_name,
    url: registration_path(resource_name) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="actions text-center">
      <%= f.submit t(:views_devise_registration_new_signup), class: "btn btn-info" %>
      </div>
  <% end %>
  <div class="text-center"><%= render "devise/shared/links" %></div>
</div>
