<div class="container">
  <%= link_to "Add New", new_post_admin_url, class: "btn btn-primary pull-right"%>
  <br><br>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= "ID" %></th>
          <th><%= "Title" %></th>
          <th><%= "Edit" %></th>
          <th><%= "Delete" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @posts %>
      </tbody>
    </table>
  </div>
</div>
