<div class="container">
  <%= form_for [:admin, @category, @product], method: :put,
    html: {multipart: true} do |f| %>
    <div class="row">
      <div class="col-md-4">
        <%= f.label :image %>
        <%= f.file_field :image %>
        <%= link_to "See all picture", admin_picture_products_path, class: "btn btn-primary" %>
        <%= link_to "Add more picture", new_admin_picture_product_path(id: @product.id),
          class: "btn btn-primary" %>
        <br>
        <%= f.label :describe %>
        <%= f.text_field :description, placeholder: @product.description,
          id: "description", class: "form-control" %>
      </div>
      <div class="col-md-4 col-md-offset-3 border-product-detail">
        <div>
          <%= f.label :name, class: "name-product-detail" %>
          <%= f.text_field :name, placeholder: @product.name,
            id: "name", class: "form-control form-text-input-edit pull-right" %>
        </div>
        <div>
          <%= f.label :price, class: "name-product-detail" %>
          <%= f.number_field :price, id: "name", placeholder: @product.price,
            class: "form-control form-number-input-edit pull-right" %>
        </div>
        <div>
          <%= f.label :in_stock, class: "name-product-detail" %>
          <%= f.number_field :in_stock, placeholder: @product.in_stock,
            id: "name", class: "form-control form-number-input-edit pull-right" %>
        </div>
        <%= f.label :hot, class: "name-product-detail" %>
        <div class="checkbox pull-right" style="display: inline-block;">
          <label>
            <input name= "hot" type="checkbox" data-toggle="toggle">
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit t(:update), class: "btn btn-primary pull-right" %>
    </div>
  <% end %>
</div>
