<% provide :title, t(:suggest_products) %>
<div class="container-fluid">
  <h3><%= t :suggest_products %></h3>
  <div class="row">
    <div class="search-form">
      <%= search_form_for [:admin, @search], class: "form-inline" do |f| %>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :name_cont, t(:search) %>
            <%= f.text_field :name_cont, class: "form-control" %>
          </div>
        </div>
        <div class= "col-md-2" >
          <%= f.submit t(:search),
            class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <table class="table table-bordered table-hover text-center">
    <tr>
      <th class="text-center"><%= t :index %></th>
      <th class="text-center"><%= t :name %></th>
      <th class="text-center"><%= t :description %></th>
      <th class="text-center"><%= t :user %></th>
      <th class="text-center"><%= t :category %></th>
      <th class="text-center"><%= t :status %></th>
    </tr>
    <tr>
      <%= render @suggest_products %>
    </tr>
  </table>
  <%= paginate @suggest_products, theme: "twitter-bootstrap-3" %>
</div>
