<p><%= t(:views_devise_mailer_reset_hello) @resource.email %>!</p>
<p><%= t(:views_devise_mailer_reset_requested) %></p>
<p><%= link_to t(:views_devise_mailer_reset_change),
  edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t :views_devise_mailer_reset_inogre %></p>
<p><%= t :views_devise_mailer_reset_access %></p>
