<!DOCTYPE html>
<html>
  <head>
  <title><%= t :views_layouts_application_title %></title>
    <%= stylesheet_link_tag    "application", media: "all",
      "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
    <%= render "layouts/header" %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link href="//fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Annie Use Your Telescope" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <div class=" container text-center product-border">
      <div class="container">
        <h3 style="font-size: 30px; font-family: 'Roboto Slab', serif; color: #666"><%= "Randomize Product" %></h3>
        <%= image_tag("star.jpg") %>
      </div>
    </div>
      <div class="container">
        <div class="row">
          <% @randomize.each do |product| %>
            <div class="col-md-2 random-width">
              <%= link_to picture_for(product),
                category_product_path(category_id: product.category_id, id: product.id) %>
              <p class="name-product"><%= product.name %></p>
              <p class="price-product"><%= product.price %>
                <i class="fa fa-dollar size-icon"></i>
              </p>
            </div>
          <% end %>
      </div>
    </div>
    <div class=" container text-center product-border">
      <div class="container">
        <h3 style="font-size: 30px; font-family: 'Roboto Slab', serif; color: #666"><%= "New Product" %></h3>
        <%= image_tag("star.jpg") %>
      </div>
    </div>
      <div class="container">
        <div class="row">
          <% @news.each do |product| %>
            <div class="col-md-2 random-width">
              <%= link_to picture_for(product),
                category_product_path(category_id: product.category_id, id: product.id) %>
              <p class="name-product"><%= product.name %></p>
              <p class="price-product"><%= product.price %>
                <i class="fa fa-dollar size-icon"></i>
              </p>
            </div>
          <% end %>
      </div>
    </div>
      <div class="product-border">
        <%= image_tag "banner1.jpg" , style: "width: 100%" %>
      </div>
  </body>
  <footer>
    <iframe frameborder="0" class="iframe_footer"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDqmomkHQUQBKe4NK8iyHjwJry5RCXJjqo
      &q=21.0379863,105.7832499" allowfullscreen>
    </iframe>
    <div class="container" style="padding-top: 20px !important">
    <div class="row">
      <div class="col-md-2">
        <h1 class= "header-h1"><%= t :logo %></h1>
      </div>
      <div class="col-md-4">
        <h3 class="header-h3"><%= t :about %></h3>
        <p><%= t :address %></p>
        <p><%= t :mobile %></p>
        <p><%= t :mail %></p>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <h3 class="header-h3"><%= t :support %></h3>
        <ul>
          <p><%= link_to t(:payment), root_path, id: "word-footer" %></p>
          <p>
            <%= link_to t(:contact), new_suggestion_path, id: "word-footer" %>
          </p>
          <p><%= link_to t(:sale_off), root_path, id: "word-footer" %></p>
        </ul>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <h3 class="header-h3"><%= t :follow_us %></h3>
        <%= link_to("http://www.facebook.com/")  do %>
          <i class="fa fa-facebook-square icon-footer"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container footer-footer">
    <p class="footer-footer-text"><%= t :author %></p>
  </div>

  </footer>
</html>
